input, button, label{
  margin-top: 10px;

}

.contact-list {
  background-color: rgb(173, 173, 173);
  max-width: 600px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.contact-list h2 {
  text-align: center;
  margin-bottom: 30px;
}
.contact-list button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.contact-list button:hover {
  opacity: 0.8;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #4CAF50;
  color: white;
}